body *{
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, #700043, #006269);
}
body * a {
  text-decoration: none;
}
body p {
  color: #fff;
  font-size: 16px;

}
body hr{
  color: #fff;
  border: 2px solid;
}
.container {
  margin: 20px auto;
}
.title{
  font-size: 50px;
  font-weight: bold;
  font-family: 'DotGothic16', sans-serif;
  color: #fff;
}
.menu {
  text-align: center;
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 10px;
}
header ul li {
  display: flex;
  flex: 1;
}
.button{
  flex: auto;
  text-align: center;
  margin: 0 10px;
  color: #fff;
  font-size: 0.7em;
}
.movies {
  max-width: 100%;
  max-height: 100%;
  margin: 10px auto;
  padding: 5px;
  border-radius: 30px;
}
.showcase {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 30px;
}
.showcase video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 30px;
}
.coming {
  width: 100%;
  height: 100%;
  background-color: #000;
  mix-blend-mode: multiply;
  border-radius: 30px;
}
.vw {
  padding: 5rem;
  font-size: 5.5vw;
  transform: rotate(-8deg);
  font-weight: bold;
  text-align: center;
}
.icon_img {
  width: 50px;
  height: 50px;
  padding: 5px;
}
.link_list div {
  margin: 10px auto;
  padding: 5px;
}
.link_list i{
  color: #fff;
  font-size: 0.8em;
}

.icon_0{
  animation: first_color 1s ease-in-out infinite alternate;
  border-radius: 10px;
}
.icon_1 {
  animation: second_color 1s ease-in-out infinite alternate;
  border-radius: 10px;
}
.icon_2 {
  animation: third_color 1s ease-in-out infinite alternate;
  border-radius: 10px;
}
.icon_3 {
  animation: four_color 1s ease-in-out infinite alternate;
  border-radius: 10px;
}
@keyframes first_color {
  0%{
    box-shadow:
      0 0 10px #ff1177,
      0 0 20px #d6249f,
      0 0 30px #285aeb;
  }
  100%{
    box-shadow: 
    0 0 5px #ff1177,
    0 0 10px #d6249f,
    0 0 15px #285aeb;
  }
}
@keyframes second_color {
  0%{
    box-shadow:
      0 0 10px #ff1177,
      0 0 20px #ff6666,
      0 0 30px #7ccdff;
  }
  100%{
    box-shadow: 
    0 0 5px #ff1177,
    0 0 10px #ff6666,
    0 0 15px #7ccdff;
  }
}
@keyframes third_color {
  0%{
    box-shadow:
      0 0 10px #ff1177,
      0 0 20px #ff5f6a,
      0 0 30px #c738ff;
  }
  100%{
    box-shadow: 
    0 0 5px #ff1177,
    0 0 10px #ff5f6a,
    0 0 15px #c738ff;
  }
}
@keyframes four_color {
  0%{
    box-shadow:
      0 0 10px #5bff0f,
      0 0 20px #1de5ff,
      0 0 30px #ebe128;
  }
  100%{
    box-shadow: 
    0 0 5px #5bff0f,
    0 0 10px #1de5ff,
    0 0 15px #ebe128;
  }
}