/* 背景画像 */
.back-img{
  background-color: rgb(255, 255, 255);
}


main {
  padding-top: 120px;
  padding-bottom: 100px;
}


/* topgroup */
.contents-top-group{
  height: 600px;
  padding: 20px;
  background-color: rgb(200, 200, 200);
  
}

.contents-top-text {
  position: relative;
  text-align: center;
  background-color: rgb(100, 100, 100);
}

.contents-top-text > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.contents-top-text h2, .contents-top-text p {
  color: #fff;
}

.contents-top-video {
  position: relative;
  text-align: center;
  background-color: rgb(100, 100, 100);
}

.contents-top-video > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.contents-top-video > div > video {
  width: 100%;
  height: 100%;
}

/* undergroup */
.contents-under-group {
  height: 400px;
  padding: 10px;
  position: relative;
  background-color: rgb(200, 200, 200);
}

.contents-under-text{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(100, 100, 100);
}

.contents-under-video {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.contents-under-text h2, .contents-under-text p {
  color: #fff;
  align-self: center;
}