
body * {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  }
body{
  background: linear-gradient(90deg, #ff38afaa, #44f3ffaf);
}
a {
  text-decoration:none; 
}
.container {
  margin-bottom: 30px;
}

.title{
  font-size: 50px;
  font-weight: bold;
  font-family: 'DotGothic16', sans-serif;
  color: #fff;
}
.menu {
  text-align: center;
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 10px;
}
header ul li {
  display: flex;
  flex: 1;
}
.button{
  flex: auto;
  text-align: center;
  margin: 0 10px;
  color: #fff;
  font-size: 0.7em;
}
.greeting1 {
  font-size: 2.5em;
  color: #fff;
  font-family: 'DotGothic16', sans-serif;
}
.greeting2 {
  font-size: 2.5rem;
  color: #fff;
}
footer p {
  text-align: right;
}
hr {
  text-decoration: 50px solid;
}
